* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f4fb;
}

.btn- {
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  padding: 4px 20px;
  border-radius: 10px;
}

.btn-.btn--hover:hover {
  background-color: #7fcbc9;
  color: #fff;
}

input[type="checkbox"] {
  ---dimensions: 18px;
  width: var(---dimensions);
  height: var(---dimensions);
  outline: none;
  border: none;
}

.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  padding-left: 6rem;
}

.profile {
  display: flex;
  width: 32%;
  max-width: 200px;
  justify-content: space-around;
  align-items: center;
}

.profile-image {
  --dimensions: 30px;
  width: var(--dimensions);
  height: var(--dimensions);
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 0.9rem;
  margin-left: -20px;
}

.side-toggle {
  position: fixed;
  z-index: 2;
  top: 10px;
  left: 32px;
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.side-toggle:hover {
  color: #7fcbc9;
}

#toggle {
  display: none;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  padding: 80px 0 20px 0;
  color: #fff;
  background-color: #7fcbc9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.sidebar-menu {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sidebar-menu > span {
  font-size: 25px;
  padding-right: 30px;
}

.sidebar-menu > p {
  margin: 0;
}

.sidebar-menu:hover {
  color: #2d2b98;
  background-color: #f8f8fb;
}

#toggle:checked ~ .sidebar {
  width: 0;
}

#toggle:checked ~ .sidebar .sidebar-menu {
  display: none;
}

#toggle:checked ~ main {
  padding: 6rem 2rem 2rem 6rem;
}

/* -------------------------------------- */

main {
  min-height: 100%;
  padding: 6rem 1rem 2rem 14rem;
  color: #201f2b;
}

.dashboard-header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.dashboard-header > input,
.dashboard-header > select,
.dashboard-header > button {
  padding: 4px 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
}

.dashboard-header > input {
  width: 7%;
  transition: all 0.1s ease-in-out;
}

.dashboard-header > input:focus {
  width: 30%;
}

.dashboard-header > button > span {
  margin-right: 6px;
}

#bodyorder > tr:nth-child(odd),
#bodyuser > tr:nth-child(odd),
#bodycategory > tr:nth-child(odd),
#bodyrole > tr:nth-child(odd),
#bodyprivilege > tr:nth-child(odd) {
  background-color: #fff;
}
/* Product */

.dashboard-body table {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 18px;
  border-collapse: collapse;
}

.dashboard-body table td > span {
  cursor: pointer;
  padding: 10px;
}

.dashboard-body table td > span:hover {
  color: #2d2b98;
}

.dashboard-body table td > img {
  --dimensions: 100px;
  height: var(--dimensions);
  width: var(--dimensions);
}

.dashboard-body table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  border-bottom: 1px solid #ccc;
  background-color: #7fcbc9;
  color: #fff;
}

.dashboard-body tbody {
  max-height: 500px;
  overflow-y: auto;
}

.dashboard-body table tr > td {
  text-align: center;
}

/* Add new product */

.dashboard-body .wrapper {
  border: 1px solid #ccc;
  padding: 20px;
}

.dashboard-body > .header {
  font-size: 20px;
  font-weight: 500;
}

.wrapper {
  display: grid;
}

th {
  text-align: center;
}

.wrapper > table {
  border: none;
  border-collapse: separate;
  /* border-spacing only applies when border-collapse is seperate */
  border-spacing: 60px 12px;
}

.wrapper > table tr:first-child > td > img {
  --dimensions: 60%;
  max-width: var(--dimensions);
  max-height: var(--dimensions);
  object-fit: cover;
  border-radius: 500px;
  border: 1px solid #ccc;
}

.wrapper > table tr > td {
  text-align: left;
}

.wrapper > table tr td:nth-child(3) {
  text-align: right;
}

.wrapper > table tr td > input,
.wrapper > table tr td > textarea {
  width: 80%;
  padding: 6px 16px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.wrapper > table tr td > label {
  padding-right: 12px;
}

.wrapper > table tr td > textarea {
  resize: vertical;
}

/* Orders */
.dashboard-body table tr td > a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.dashboard-body table tr td > a:hover {
  color: #2d2b98;
}

.wrapper .content-other {
  font-size: 18px;
  color: #1f7a77;
}

.wrapper .content-other p > a {
  text-decoration: none;
  font-weight: 800;
  color: red;
}

.wrapper .content-other h4,
.wrapper .content-other p {
  line-height: 40px;
}

.is-selected {
  background-color: #f8f8fb;
  color: #2d2b98;
}

/* ORDERS */
#order-body {
  position: relative;
}

#bodyorder > tr {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#bodyorder > tr:hover {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
}

#bodyorder > tr > .status > .solved {
  padding: 4px 6px;
  background-color: #7fcbc9;
  border-radius: 6px;
  color: #fff;
}

#bodyorder > tr > .status > .not-solve {
  padding: 4px 6px;
  background-color: rgb(138, 5, 5);
  border-radius: 6px;
  color: #fff;
}

/* ORDER DETAILS */
.container {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 40%;
  max-width: 700px;
  position: fixed;
  top: 10px;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 6;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.content-body {
  font-size: 16px !important;
}

.content {
  background-color: #fff;
  vertical-align: middle;

  margin: auto;
  padding: 26px;
  border-radius: 10px;
  position: fixed;
  z-index: 10;
  top: 10px;
  bottom: 10px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.content::before {
  --radius: 8px;
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  left: 0;
  height: 6px;
  background-color: #7fcbc9;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  /* z-index: -1; */
}

.content::after {
  --radius: 8px;
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  height: 6px;
  background-color: #7fcbc9;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  z-index: -1;
}

.content-header {
  color: #7fcbc9;
}

.content-body__top,
.content-body__top-top,
.content-body__top-bottom {
  display: flex;
}

.content-body__top {
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.content-body__top-top {
  align-items: center;
  justify-content: space-between;
}

.content-body__top-bottom {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content-header,
.content-body__top,
.content-body__middle-product,
.content-body__bottom-total,
.content-body__middle-shipping {
  margin-bottom: 4px;
}

.content-body__top-address,
.content-body__top-fullname,
.content-body__top-email,
.content-body__top-phonenumber {
  margin-top: 10px;
}

.content-body__middle-product,
.content-body__middle-shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-body__top-right {
  text-align: right;
}

.content-body__middle {
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: 0;
}

.content-body__middle::-webkit-scrollbar {
  display: none;
}

.content-body__middle-product {
  justify-content: space-between;
  margin-bottom: 6px;
}

.content-body__middle-product-name {
  margin-right: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 330px;
}

.content-body__middle-product-image > img {
  --dimensions: 70px;
  max-height: var(--dimensions);
  max-width: var(--dimensions);
  object-fit: cover;
  border-radius: 10px;
  margin-right: 14px;
}

.content-body__middle-product-price,
.content-body__bottom-total {
  margin-left: auto;
}

.content-body__bottom-total {
  float: right;
  margin-top: 12px;
  color: #1f7a77;
  font-size: 20px;
  font-weight: 600;
}

.content-footer {
  clear: both;
}

.content-footer__help {
  font-size: 16px;
}

#searchfromdateinput,
#searchtodateinput {
  width: 11%;
}

.content-body__middle-product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p,
h4 {
  margin: 0;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

.btn-save {
  float: right;
  margin: 10px 30px;
}
