/* Viết những css dùng chung trong này */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
  font-family: "Roboto", sans-serif;
  /* max-width: 1200px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 20px; */
}

.btn {
  outline: none;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 20px;
  margin: 10px 0;
  transition: all 0.1s ease-in-out;
}

.btn.btn--active {
  background-color: #7fcbc9;
}

.btn:hover.btn--active {
  background-color: #000;
}

a {
  transition: all 0.1s ease-in-out;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #7fcbc9;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
}

.form-group > input,
.form-group > select {
  outline: none;
  border: none;
  width: 100%;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  padding: 14px;
  margin-top: 6px;
  transition: all 0.1s ease-in-out;
}

.form-group > input:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-color: #ccc;
}

ul {
  list-style-type: none;
}

main {
  padding-bottom: 50px;
}

/* Header */
.main-header {
  z-index: 2;
  background-color: #fff;
  transition: all ease-in-out 0.2s;
}

.common-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left > i {
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.top-left > i:hover {
  color: #7fcbc9;
  font-size: 18px;
}

.top-right {
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top-right > i,
.top-right > label {
  color: #7fcbc9;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.top-right > label:hover,
.top-right > i:hover {
  color: #2d2b98;
}

.top-right > .fa-cart-shopping {
  position: relative;
  margin: 0 10px;
}

.top-right .quantity {
  display: inline-block;
  color: #fff;
  background-color: #7fcbc9;
  padding: 4px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: -10px;
  right: -6px;
}

#userpanel:checked ~ .login-options {
  display: flex;
}

.login-options {
  position: absolute;
  z-index: 3;
  top: 30px;
  right: 40px;
  width: 150px;
  font-size: 16px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 6px 10px;
}

.login-options > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 4px;
  text-decoration: none;
}

.list-items .login-options > a > i {
  margin-right: 10px;
}

.bottom > .list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
}

.list-items > .item {
  cursor: pointer;
  padding: 10px 20px;
  min-width: 50px;
  transition: all 0.1s ease-in-out;
}

.list-items > .item:hover,
.list-items > .item > i:hover {
  color: #7fcbc9;
}

.list-items > .item > label {
  font-size: 16px;
  color: #aaa;
  margin-left: 8px;
  cursor: pointer;
}

.child-list-items {
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border: none;
}

.child-list-items .child-item {
  padding: 14px;
  cursor: pointer;
}

.child-list-items .child-item:hover {
  color: #488b89;
}

/* Footer */

footer {
  margin: 50px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer-body__info,
.footer-botoom {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-body__info i,
.footer-body__info p,
.footer-body__info a,
.footer-body__socials i,
.footer-botoom i {
  margin: 0 4px;
}

.footer-body__socials {
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.footer-body__socials i:hover {
  color: #7fcbc9;
  font-size: 18px;
}

.footer-botoom p {
  display: inline-block;
}

.error-message {
  color: #e14b33;
}
