.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.header {
  margin: 50px 0;
}

.header > p {
  color: #7fcbc9;
  font-size: 18px;
  /* font-weight: 600; */
}

.top h3 {
  margin-bottom: 10px;
}

.header > a {
  text-decoration: none;
}

.header > p {
  display: inline-block;
  font-weight: 600;
}

.top {
  margin-bottom: 10px;
}

.top .loginby {
  color: #fff;
  font-size: 14px;
}

.top .loginby i {
  padding: 10px 16px;
}

.top .loginby span {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  font-size: 10px;
}

.top .loginby > i:first-child {
  background-color: #3b5998;
}

.top .loginby > i:last-child {
  background-color: #e14b33;
}

.top > p {
  margin-top: 40px;
  font-size: 16px;
}

.middle > form > a {
  margin-left: 12px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.overlay.overlay--bold {
  background-color: rgba(0, 0, 0, 0.7);
}

.change-password-container {
  background-color: #fff;
  vertical-align: middle;
  margin: auto;
  padding: 26px;
  position: fixed;
  z-index: 10;
  top: 34%;
  bottom: 34%;
  left: 30%;
  right: 30%;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.change-password-container .form-group > button {
  margin-left: auto;
}
