*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-bread-crumb{
    padding-top: 160px;
    padding-bottom: 20px;
   margin-left: 180px;
}
.breadcrumb .current {
    color: #7fcbc9; /* Thay đổi màu sắc theo ý muốn */
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-container {
    flex: 0 0 70%; 
    background-color: #fff; 
    padding: 20px;
}



#sort-by{
    text-align: left;
    font-size: 14px;
    
}

.sort-product, .title-prod{
    width: fit-content;
    display: inline-block !important; 
    margin-left: 10px;
}



.side-bar {
    flex: 0 0 25%; 
    background-color: #fff; 
    padding: 20px;
}

.product-img{
    width: 240px;
    height: 240px;
}

.product-img img{
    width: 100%;
    height: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    flex: 0 0 calc(33.3333% - 20px);
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.pagination {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.page-item.active .page-link {
    background-color: #7fcbc9;
    border-color: #7fcbc9;
}

.page-item .page-link {
    color: #000;
}

.page-item {
    margin: 0 5px;
}